<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Sandeep Samra</h2>
        </header>
        <p>Follow my transition
        <br />
        from law to 
        <br />
        full stack web development</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="/about.html" class="button fit scrolly">Learn about me</a></li>
            </ul>
        </footer>

    </div>

</section>